{% extends "base.html" %}
{% block content %}
<div class="container mx-auto m-5 p-5">
    <h4>
        <p>{{data['msg']}}.<br>You will be redirected to the Home page in few seconds.</p>
    </h4>
</div>
<div class="modal fade" id="redirect" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{data['msg']}}.<br>You will be redirected to the Home page in few seconds.</p>
            </div>
        </div>
    </div>
</div>
<script>
    console.log("{{session['target']}}");
    $(document).ready(function () {
        $("#redirect").modal();
    });
    setTimeout(function () { window.location.href = "{{url_for('dashboard')}}"; }, 2500);
</script>
{% endblock %}