{% extends "base.html" %}
{% block content %}
{% if(session["role"]==2) %}
<div class="container mt-3 pt-3 mb-3 pb-3">
    <div class="card">
        <div class="card-header text-center">
            <h5>Library Management System</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless table-hover">
                    <thead class="text-info text-center">
                        <tr>
                            <th>SI.No</th>
                            <th>Book Name</th>
                            <th>Year</th>
                            <th>Student Name</th>
                            <th>Assigned Date</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for x in range(data["assigned_data"]|length): %}
                        <tr>
                            <td>{{x+1}})</td>
                            <td>{{data["assigned_data"][x][15]}}</td>
                            <td>{{data["assigned_data"][x][16]}}</td>
                            <td>{{data["assigned_data"][x][5]}}</td>
                            <td>{{data["assigned_data"][x][3]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container mx-auto m-5 p-5">
    <h4>
        <p>You are not authorized to visit this Page.<br>You will be redirected to the Home page in few seconds.</p>
    </h4>
</div>
<div class="modal fade" id="redirect" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>{{data['msg']}}.<br>You will be redirected to the Home page in few seconds.</p>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#redirect").modal();
    });
    setTimeout(function () { window.location.href = "{{url_for('index')}}"; }, 2500);
</script>
{% endif %}
{% endblock %}