<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="icon" type="image/png" href="{{url_for('static', filename='flask_logo.png')}}" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""></script>
   <meta name="description" content="" />
   <meta name="author" content="" />
   <title>{{data['title']}}</title>
   <!-- Favicon-->
   <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/favicon.ico')}}" />
   <!-- Core theme CSS (includes Bootstrap)-->
   <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
   <style>
      .list-group-item-light,
      .bg-ourcolor {
         --bs-bg-opacity: 1;
         background-color: #D43B1A !important;
         color: white;
      }
   </style>
</head>

<body class="">
   <div class="d-flex" id="wrapper">
      <!-- Sidebar-->
      <div class="border-end bg-ourcolor" id="sidebar-wrapper">
         <!-- <div class="sidebar-heading border-bottom bg-light">Bridgewater State University</div> -->
         <div class="list-group text-white list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light" href="{{url_for('index')}}">Home</a>
            {% if session["userid"] and (session["role"]==0 or session["role"]==3) %}
            <a class="list-group-item list-group-item-action list-group-item-light"
               href="{{url_for('dashboard')}}">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light"
               href="{{url_for('logout')}}">Logout</a>
            {% elif session["userid"] and session["role"]== 2 %}
            <a class="list-group-item list-group-item-action list-group-item-light"
               href="{{url_for('assigned_books')}}">Assigned Books</a>
            <a class="list-group-item list-group-item-action list-group-item-light"
               href="{{url_for('logout')}}">Logout</a>
            {% elif session["userid"] and session["role"]== 1 %}
            <a class="list-group-item list-group-item-action list-group-item-light"
               href="{{url_for('stu_dashboard')}}">Dashboard</a>
            <a class="list-group-item list-group-item-action list-group-item-light"
               href="{{url_for('logout')}}">Logout</a>
            {% else %}
            <a class="list-group-item list-group-item-action list-group-item-light" href="#!" data-backdrop="static"
               data-toggle="modal" data-target="#loginmodal">Login</a>
            {% endif %}
            <a class="list-group-item list-group-item-action list-group-item-light"
               href="{{url_for('contactus')}}">Contact us</a>
         </div>
      </div>
      <!-- Page content wrapper-->
      <div id="page-content-wrapper">
         <!-- Top navigation-->
         <nav class="navbar navbar-expand-lg navbar-dark bg-ourcolor border-bottom">
            <div class="container-fluid">
               <!-- <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button> -->
               <a href="#!"><span class="navbar-toggler-icon" id="sidebarToggle"></span></a>
               <h4>Bridgewater State University</h4>
            </div>
         </nav>
         <!-- Page content-->
         <div class="container-fluid">
            {% block content %}
            {% endblock %}
            </p>
         </div>
      </div>
   </div>
   <!-- The Modal -->
   <div class="modal fade" id="loginmodal">
      <div class="modal-dialog modal-dialog-centered">
         <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
               <h4 class="modal-title">Login Form</h4>
               <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
               <form action="{{url_for('login')}}" method="post">
                  <div class="form-group">
                     <label for="usermail">Enter Email Address</label>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-at"
                                 aria-hidden="true"></i></span> </div>
                        <input name="usermail" class="form-control" placeholder="username@gmail.com" type="email"
                           id="usermail" required>
                     </div>
                  </div>
                  <div class="form-group">
                     <label for="password">Enter Password</label>
                     <div class="input-group mb-3">
                        <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-key"
                                 aria-hidden="true"></i></span> </div>
                        <input name="password" class="form-control" type="password" id="password" required>
                     </div>
                  </div>
                  <!--<button type="submit" class="btn btn-success mr-2">Login</button>-->
                  <!--<a href="forgotpassword.php">Forgot Password ?</a> -->

            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
               <div class="mr-auto">
                  <!--<script async src="https://telegram.org/js/telegram-widget.js?11" data-telegram-login="buyprojects_bot" data-size="large" data-auth-url="http://www.buyprojects.tech/telegram.php" data-request-access="write"></script>-->
                  <button type="submit" class="btn btn-success mr-2">Login</button>
                  <a href="#!">Forgot Password ?</a>
               </div>
            </div>
            </form>
         </div>
      </div>
   </div>
   <!-- Bootstrap core JS-->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
   <!-- Core theme JS-->
   <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
</body>

</html>