{% extends "base.html" %}
{% block content %}
{% if(session["role"]==0) %}
<div class="container col-sm-10 mx-auto">
   <div class="card-columns mt-5 pt-5">
      <div class="card bg-info">
         <div class="card-body text-center">
            <button type="button" class="btn btn-info stretched-link" data-toggle="modal"
               data-target="#addstudent">Create
               Student Records</button>
         </div>
      </div>
      <div class="card bg-info">
         <div class="card-body text-center">
            <a href="{{url_for('student_records')}}" class="stretched-link btn btn-info">View/Edit/Delete Student
               Records</a>
         </div>
      </div>
      <div class="card bg-info">
         <div class="card-body text-center">
            <button type="button" class="stretched-link btn btn-info" data-backdrop="static" data-toggle="modal"
               data-target="#pwdmodal">Change Password</button>
         </div>
      </div>
   </div>
</div>
{% elif(session["role"]==3) %}
<div class="container  mt-4 pt-4 col-sm mx-auto">
   <div class="card">
      <div class="card-header p-3 text-center">
         <h5 class="text-success">Gym Management System</h5>
      </div>
      <div class="card-body">
         <img class="img-responsive" src="{{url_for('static', filename='gym_clg.jpg')}}" alt="College Gym" width="100%"
            height="500px">
      </div>
   </div>

</div>
{% else %}
<div class="container mx-auto m-5 p-5">
   <h4>
      <p>Only Admins are allowed to access the Dashboard features.</p>
   </h4>
</div>
<script>
   setTimeout(function () { window.location.href = "{{url_for('index')}}"; }, 2500);
</script>
{% endif %}
<!-- change password form -->
<!-- The Modal -->
<div class="modal fade" id="pwdmodal">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Change Password</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <form action="{{url_for('change_password')}}" method="post">
               <input type="text" name="from_which" value="dashboard" hidden>
               <div class="form-group">
                  <label for="userpassword">Enter Password</label>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-key"
                              aria-hidden="true"></i></span> </div>
                     <input name="userpassword" autocomplete="off" class="form-control" type="password"
                        id="userpassword" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="repassword">Re-Enter Password</label> <img
                     src="{{url_for('static',filename='icons8-verified-account-24.png')}}" alt="match icon"
                     class="d-inline invisible" id="matchicon">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-key"
                              aria-hidden="true"></i></span> </div>
                     <input name="repassword" autocomplete="off" class="form-control" type="password" id="repassword"
                        onkeyup="matching()" required>
                  </div>
               </div>
               <button type="submit" id="myBtn" class="btn btn-success" disabled>Change Password</button>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- change pwd modal form ends -->

<!--modal form to directly add the student records from the same page-->
<!-- The Modal -->
<div class="modal fade" id="addstudent">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4 class="modal-title">Add a Student Record</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <form action="{{url_for('register')}}" method="post">
               <div class="form-group">
                  <label for="username">Student Name</label>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-user"
                              aria-hidden="true"></i></span> </div>
                     <input name="username" autocomplete="off" class="form-control" type="text" id="username" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="signmail">Student Email Address</label>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-at"
                              aria-hidden="true"></i></span> </div>
                     <input name="signmail" autocomplete="off" class="form-control" placeholder="username@gmail.com"
                        type="email" id="signmail" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="mobile">Student Mobile Number</label>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-mobile-alt"
                              aria-hidden="true"></i></span> </div>
                     <input name="mobile" autocomplete="off" class="form-control" placeholder="9999999999"
                        pattern="[0-9]{10}" maxlength="10" type="tel" id="mobile" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="year">Year of Study</label>
                  <select class="form-control" id="year" name="year" required>
                     <option value=""> --- Select Year --- </option>
                     <option value="1st Year">1st Year</option>
                     <option value="2nd Year">2nd Year</option>
                     <option value="3rd Year">3rd Year</option>
                     <option value="4th Year">4th Year</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="branch">Branch</label>
                  <select class="form-control" id="branch" name="branch" required>
                     <option value=""> --- Select Branch --- </option>
                     <option value="CSE">CSE</option>
                     <option value="ECE">ECE</option>
                     <option value="IT">IT</option>
                     <option value="EEE">EEE</option>
                     <option value="CIVIL">CIVIL</option>
                     <option value="MECH">MECH</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="gender">Student Gender As</label>
                  <select class="form-control" id="gender" name="gender" required>
                     <option value=""> --- Select Gender --- </option>
                     <option value="male">Male</option>
                     <option value="female">Female</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="userpassword">Enter Password</label>
                  <div class="input-group mb-3">
                     <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-key"
                              aria-hidden="true"></i></span> </div>
                     <input name="userpassword" autocomplete="off" class="form-control" type="password"
                        id="stu_userpassword" required>
                  </div>
               </div>
               <div class="form-group">
                  <label for="repassword">Re-Enter Password</label> <img
                     src="{{url_for('static',filename='icons8-verified-account-24.png')}}" alt="match icon"
                     class="d-inline invisible" id="stu_matchicon">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend"> <span class="input-group-text"><i class="fas fa-key"
                              aria-hidden="true"></i></span> </div>
                     <input name="repassword" autocomplete="off" class="form-control" type="password"
                        id="stu_repassword" onkeyup="stu_matching()" required>
                  </div>
               </div>
               <button type="submit" id="stu_myBtn" class="btn btn-success" disabled>Add Student</button>
            </form>
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>
<!-- Script for register password match -->
<script>
   function matching() {
      var x = document.getElementById("userpassword").value;
      var y = document.getElementById("repassword").value;
      var z = document.getElementById("matchicon");
      if (x == y) {
         z.className = "visible";
         document.getElementById("myBtn").disabled = false;
      } else {
         z.className = "invisible";
         document.getElementById("myBtn").disabled = true;
      }
   }
   function stu_matching() {
      var x = document.getElementById("stu_userpassword").value;
      var y = document.getElementById("stu_repassword").value;
      var z = document.getElementById("stu_matchicon");
      if (x == y) {
         z.className = "visible";
         document.getElementById("stu_myBtn").disabled = false;
      } else {
         z.className = "invisible";
         document.getElementById("stu_myBtn").disabled = true;
      }
   }
</script>
{% endblock %}